[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kothawleprem
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kothawleprem
	label-Verified = -1..+1 group user/kothawleprem
	push = group user/kothawleprem
	read = group user/kothawleprem
	rebase = group user/kothawleprem
	removeReviewer = group user/kothawleprem
	submit = group user/kothawleprem
[access "refs/heads/*"]
	create = group user/kothawleprem
	push = +force group user/kothawleprem
	pushMerge = group user/kothawleprem
	read = group user/kothawleprem
[access "refs/tags/*"]
	push = group user/kothawleprem
	push = +force group user/kothawleprem
