
{% extends 'base.html' %}

{% block title %} SocialBay - {{post.full_name}} {% endblock title %}
{% block blogactive %}active{% endblock blogactive %}

{% block body %}
<style>
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ff030f;
    border-radius: 5px;
    padding: 20px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 10px;
    font-weight: 600;
    width: 1000px;
    flex-grow: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@media only screen and (max-width: 600px) {
    
    .project-card {
        margin-left: 5%;
        width: 90%;
    }
}
.project-card > p {
    margin: 0;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.skill-card {
    display: flex;
    flex-direction: column;
   

    background-color: #f0f0f0;
    border: 1px solid #fff703; 
    border-radius: 5px;
    padding: 10px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 10px;
    font-weight: 600;
    width: 150px;
    flex-grow: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
h2{
    font-family: 'Itim', cursive;
}

</style>

</br>

<center>

<div class="project-card">
    
    <h2 class="blog-post-title ">{{post.full_name}}  <a class="fa fa-globe" href="{{post.website}}" target="_blank"></a></h2>
    
    
    {% if post.instagram_username|length < 1 %}
    {% else %}
    <a class="skill-card fab fa-instagram" href="https://www.instagram.com/{{post.instagram_username}}" target="_blank">Instagram</a>
    {% endif %}

    {% if post.facebook|length < 1 %}
    {% else %}
    <a class="skill-card fab fa-facebook" href="{{post.facebook}}" target="_blank">Facebook</a>
    {% endif %}

    {% if post.twitter|length < 1 %}
    {% else %}
    <a class="skill-card fab fa-twitter" href="{{post.twitter}}" target="_blank">Twitter</a>
    {% endif %}

    {% if post.Field_Link|length < 1 %}
    {% else %}
    <a class="skill-card " href="{{post.Field_Link}}" target="_blank">{{post.Add_Field_Name}}</a>
    {% endif %}

    {% if post.Field_Link_2|length < 1 %}
    {% else %}
     <a class="skill-card " href="{{post.Field_Link_2}}" target="_blank">{{post.Add_Field_Name_2}}</a>
     {% endif %}

     {% if post.Field_Link_3|length < 1 %}
    {% else %}
    <a class="skill-card " href="{{post.Field_Link_3}}" target="_blank">{{post.Add_Field_Name_3}}</a>
    {% endif %}

    {% if post.Field_Link_4|length < 1 %}
    {% else %}
          <a class="skill-card " href="{{post.Field_Link_4}}" target="_blank">{{post.Add_Field_Name_4}}</a>
    {% endif %}
    
    

    <h1>{{pk}}</h1>
    <strong>*Share Now*</strong>
    <p>New Here? <a href="/home"> Create Your Profile Now!</a></p>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox_7lue"></div>
    
</div>
            



                
               
</div>
</center>





<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ee8ce99aabd2702"></script>

{% endblock body %}