{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block loginactive %}active{% endblock loginactive %}

{% load crispy_forms_tags %}
{% block body%}
<style>
  .article{
    background: linear-gradient(to top right, #ffffcc 0%, #ccff33 100%);

  }
  
</style>


    <div class="container">
   
     
        </br>
      </br>
          <center>
            <h2>Need an Account? <a type="button" class="btn btn-primary" href="{% url  'register'  %}">Sign Up</a></h2>

          </center>

  
  <div  style="background: linear-gradient(to top right, #ccffcc 0%, #ffff00 100%);border-radius: 10px;box-shadow: 10px 10px 5px grey;;">
    <div class="row">
      <div class="col-lg-6 col-md-12" style="background-color: white;">
        <div class="about-image">
        <center>
          <img style="width:80%;" src="https://image.freepik.com/free-vector/login-concept-illustration_114360-739.jpg" alt="About us" class="img-fluid" >
        </center>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 about-title">
        <center>
          <h2 class="text-uppercase pt-5">
            <span>Login</span>
            
          </h2>
          <div class="paragraph py w-75">
            <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <small class="text-muted ml-2">
            <a href="{% url 'password_reset' %}">Forgot Password</a>
            </small>

        </div>
    </form>
          

        
    </div>
  </div>

  {% endblock body %}
