{% extends 'base.html' %}




{% block title %} 404 Error {% endblock title %}

{% block body %}
<style>
  

</style>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12">
        <center>
            <img class="img-fluid" src="https://image.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-1932.jpg" alt="">
        </center>
         </div>
        <div class="col-lg-6 col-md-12">
            <center>
            <div class="main" style="padding-top: 110px;">
            <h1>Page Not Found</h1>
            <p >You may have typed the address incorrectly or the page might have been moved.</p>
            <p>Vist our Homepage.</p>
            <a type="button" class="btn btn-light" href="/home" style="border-color: black;">Home</a>
        </center>
        </div>
        </div>
    </div>
</div>
    
</div>
{% endblock body %}